@import "tailwindcss";
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
}

header {
    width: 100vw;
    margin: 0;
}

main > div:not(.hidden) {
    @apply flex flex-col justify-center gap-8
}